[Desktop Entry]
Name=Free Heroes 2
Comment=Heroes Of Might And Magic 2 Engine
Exec=/usr/bin/fheroes2
Icon=fheroes2
StartupNotify=true
Terminal=false
Type=Application
Categories=Game;StrategyGame;
